Repository seyedali-dev/DevClock-v0.1_ProjectService, pull requests merged in 2024-05, with the labels that each got.

#2 Feature/security keycloak ci githubactions Done. Close #1
  .github/workflows/maven-build.yml
  src/main/java/com/seyed/ali/projectservice/ProjectServiceApplication.java
  src/main/java/com/seyed/ali/projectservice/config/security/SecurityConfiguration.java
  src/main/java/com/seyed/ali/projectservice/config/security/entrypoints/AuthServiceBearerTokenAccessDeniedHandler.java
  src/main/java/com/seyed/ali/projectservice/config/swagger/SwaggerConfiguration.java
  src/main/java/com/seyed/ali/projectservice/controller/TestController.java
  src/main/java/com/seyed/ali/projectservice/exceptions/AuthServiceHandlerAdvice.java
  src/main/java/com/seyed/ali/projectservice/model/dto/Result.java
  src/main/java/com/seyed/ali/projectservice/util/KeycloakSecurityUtil.java
  src/main/java/com/seyed/ali/projectservice/util/converter/KeycloakJwtAuthorityConverter.java
  src/main/resources/application-dev.yml
  src/test/java/com/seyed/ali/projectservice/config/EurekaClientTestConfiguration.java
  src/test/java/com/seyed/ali/projectservice/config/TestServiceInstanceListSupplier.java
  src/test/java/com/seyed/ali/projectservice/controller/TestControllerTest.java
  src/test/java/com/seyed/ali/projectservice/util/KeycloakSecurityUtilTest.java
  src/test/java/com/seyed/ali/projectservice/util/converter/KeycloakJwtAuthorityConverterTest.java
  src/test/resources/application-test.yml
Labels: enhancement, new feature, test

#5 Feature/project crud opr complete. (Close #4)
  src/main/java/com/seyed/ali/projectservice/controller/ProjectController.java
  src/main/java/com/seyed/ali/projectservice/exceptions/AuthServiceHandlerAdvice.java
  src/main/java/com/seyed/ali/projectservice/exceptions/ResourceNotFoundException.java
  src/main/java/com/seyed/ali/projectservice/exceptions/handler/ProjectServiceHandlerAdvice.java
  src/main/java/com/seyed/ali/projectservice/model/domain/Project.java
  src/main/java/com/seyed/ali/projectservice/model/payload/ProjectDTO.java
  src/main/java/com/seyed/ali/projectservice/model/payload/Result.java
  src/main/java/com/seyed/ali/projectservice/repository/ProjectRepository.java
  src/main/java/com/seyed/ali/projectservice/service/ProjectServiceImpl.java
  src/main/java/com/seyed/ali/projectservice/service/interfaces/ProjectService.java
  src/main/java/com/seyed/ali/projectservice/util/converter/ProjectConverter.java
  src/main/java/com/seyed/ali/projectservice/util/converter/ProjectDTOToProjectConverter.java
  src/main/java/com/seyed/ali/projectservice/util/converter/ProjectToProjectDTOConverter.java
  src/test/java/com/seyed/ali/projectservice/controller/ProjectControllerTest.java
  src/test/java/com/seyed/ali/projectservice/service/ProjectServiceImplTest.java
  src/test/java/com/seyed/ali/projectservice/util/converter/ProjectConverterTest.java
Labels: new feature, test

#7 hotfix: added security requirement for controllers
  src/main/java/com/seyed/ali/projectservice/controller/ProjectClientController.java
  src/main/java/com/seyed/ali/projectservice/controller/ProjectController.java
  src/main/java/com/seyed/ali/projectservice/service/ProjectClientServiceImpl.java
  src/main/java/com/seyed/ali/projectservice/service/interfaces/ProjectClientService.java
Labels: bug, enhancement

#9 Added swagger documentation for controller and project.
  src/main/java/com/seyed/ali/projectservice/config/swagger/SwaggerConfiguration.java
  src/main/java/com/seyed/ali/projectservice/controller/ProjectClientController.java
  src/main/java/com/seyed/ali/projectservice/controller/ProjectController.java
Labels: enhancement
